<div class="pages pull-right"> <h2>{{ newDate | date: 'MM/dd/yy' }}</h2> </div>
<br />
<hr>
    <ul>
        <li routerLinkActive="active"><a [routerLink] = "['/Blogs']">Blogs | </a></li>
        <li routerLinkActive="active"><a [routerLink] = "['/Collection']">Collection | </a></li>
        <li routerLinkActive="active"><a [routerLink] = "['/Form']">Form</a></li>
    </ul> 
<router-outlet></router-outlet>
<div style="background-color:aliceblue;" >
    <hr>
    <button (click) = "clicked()">{{togBtn}} Status </button>
<br />
    <div *ngIf = 'appStatus'>
        <h3>{{appStatusName}} <strong>{{newStatus}}</strong> 
           <br /><br /><i>New Status?</i> Enter it here...<input [value]="" (input)="newStatus=$event.target.value"></h3>  
        
    </div>
    <hr>
</div>
<p>Multiplier: {{ 2 | Multiplier: 10 }}</p>
<child-app></child-app>
<div *ngFor = 'let lst of appList'>
    <ul>
        <li>{{lst.ID}}</li>
        <li>{{lst.title}}</li>
        <img [src]='lst.url'>
    </ul>
</div>   