<ul>
    <li><a [routerLink] = "['/Blogs']">Blogs</a></li>
    <li><a [routerLink] = "['/Collection']">Collection</a></li>
    <li><a [routerLink] = "['/Form']">Form</a></li>
</ul> 
<router-outlet></router-outlet>
<hr>
<button (click) = "clicked()">{{togBtn}} Status </button>

<div style="background-color:aliceblue;" *ngIf = 'appStatus'>
    <h3>{{appStatusName}} {{newStatus}} 
        &nbsp; &nbsp; &nbsp;New Status? Enter it here...<input [value]="" (input)="newStatus=$event.target.value"></h3>  
    
</div>
<hr>
<div *ngFor = 'let lst of appList'>
    <ul>
        <li>{{lst.ID}}</li>
        <li>{{lst.title}}</li>
        <img [src]='lst.url'>
    </ul>
</div>   