<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="background-color:rgb(182, 255, 255);padding:20px;">
  <div style="text-align:center;background-color:aliceblue;padding:30px;border:aqua 1px solid;border-radius:20%;">
    <h2>
       Tests: {{ title }} 
    </h2>
    <img width="300" alt="Angular Logo" src="//tmm-nov.s3.amazonaws.com/img/favicon.ico">
  </div> 
  <div class="resources" >
    <style>
    li {
      list-style:none;
    }
    </style>
    <h2>Testing/Angular Resources</h2>
  <ul>
    <li> <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a> 
    </li>
    <li>
 <a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a> 
    </li>
    <li>
    <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a> 
    </li>
  </ul>
  </div>
</div> <!--end container -->
