<div class="form-group">
    <input type="text" class="form-control" placeholder="Search! " style="width: 300px" [(ngModel)]="searchTerm" />
</div>
<h4 #h4Variable></h4>
    <div  *ngFor="let person of persons | personFilter:searchTerm">
   <!-- Call child component methods/properties using Template Reference Variable -->
   <div (click) = "onClick(person.id)" class="pointerCursor">
        <div (click)="h4Variable.innerHTML = childComponent.getPersonNameAndEmail()">
                <tm-display-person [person]="person" #childComponent (notify)="handleNotify($event)"></tm-display-person>
         </div>
   </div>
</div> 

<h3 *ngIf="dataFromChild"> {{ dataFromChild?.name }}, phone : {{ dataFromChild?.phone }}</h3> 

 <!-- cards scroll-through design below  (other parts in display-person.comp)-->

<!-- <button (click)="nextPerson()" class="btn btn-primary">
    View Next Employee
</button>
<br /><br /> 
<tm-display-person [person]="personToDisplay" [personId]="personToDisplay.id"></tm-display-person> -->