
table{
    color: #369;
    font-family: Arial, Helvetica, sans-serif; 
    border-collapse: collapse;
}
 
td {
    min-width:40px;
    border: 1px solid blue;
    padding:5px;
}

.boldClass{
    font-weight:bold;
}
.italicsClass{
    font-style:italic;
}
.colorClass{
    color:red;
}