 
<br /><br />
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Index</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let blog of blogs; trackBy:trackByEmpCode;let i=index;">
            <td>{{ blog.id  }}</td>
            <td>{{ blog.title}}</td> <!-- | blogTitle:blog.gender-->
            <td>{{i}}</td>
        </tr>
        <tr *ngIf="!blogs || blogs.length==0">
            <td colspan="5">No blogs to display</td>
        </tr>
    </tbody>
</table>
<br />
<button (click)="getBlogs()">Refresh Blogs</button>